<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.vista.com.handheld" >

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Background" >
        <activity
            android:name="my.vista.com.handheld.UI.Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.NoticeIssuanceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/title_activity_noticeissuance" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_reprint" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.StatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_status" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name="my.vista.com.handheld.UI.Activity.ReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Background"
            android:label="@string/title_activity_receipt" >
        </activity>
        <service
            android:name="my.vista.com.handheld.UI.UploadNoticeService"
            android:exported="false"/>
    </application>

</manifest>
